.u-center-text{
    text-align: center;
}
.u-margin-bottom-sm {
    margin-bottom: 1.5rem;
}
.u-margin-bottom-md {
    margin-bottom: 4rem;
}
.u-margin-bottom-bg {
    margin-bottom: 8rem;
}
.u-margin-top-bg{
    margin-top: 8rem;
}
.u-margin-top-huge {
    margin-top: 10rem;
}