.u-center-text{
    text-align: center !important;
}
.u-margin-bottom-sm {
    margin-bottom: 1.5rem !important;
}
.u-margin-bottom-md {
    margin-bottom: 4rem !important;
}
.u-margin-bottom-bg {
    margin-bottom: 8rem !important;
}
.u-margin-top-bg{
    margin-top: 8rem !important;
}
.u-margin-top-huge {
    margin-top: 10rem !important;
}